*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #021124;
}

/* ------------------------------------------ Header -------------------------------------------------------------------------------------- */

header{
    display: grid;
    grid-template-columns: 90% 0px;
    padding: 2%;
}

.side-left{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center; 
    gap: 10px; 
    font-family: "Readex Pro", sans-serif;
    color: white;
}


header .side-left img{
    width: 90px;
    height: 50px;
}

.side-right{
    display: grid;
    align-items: center; 
    grid-template-columns: auto 1fr;
    gap: 20px; 
}

.side-right a{
    font-family: "Readex Pro", sans-serif;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.side-right a:hover{
    transform: scale(1.2);
    transition: ease .05s;
}

.nav-celular{
    display: none;
}

/* ------------------------------------------ Main -------------------------------------------------------------------------------------- */

main{
    display: grid;
    align-items: center;
    padding: 5%;
    grid-template-columns: 50% 0px;
    color: white;
}

main h1{
    font-family: "Outfit", sans-serif;
    font-size: 70px;
    font-weight: 90px;
    width: 600px;
    margin-bottom: 20px;
    width: if;
}

main p{
    font-family: "Sora", sans-serif;
    font-size: 15px;
    width: 700px;
    margin-bottom: 20px;
}

.main-right img{
    max-width: 550px;
    height: auto;
}

button{
    background-color: rgba(0, 156, 134, 1);
    border-radius: 15px;
    border: none;
    width: 300px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-family: "Datatype", monospace;
    font-size: 20px;
    margin: 5px;
    letter-spacing: 1.5px;
}

.aButton{
    cursor: pointer;
}

@media (max-width: 1430px){
    main p{
        width: 500px;
    }
}

@media (max-width: 1200px){
    .side-right{
        display: none;
    }

    .nav-celular{
    display: flex;
    color: white;
    }

    .nav-celular .bi-list {
    font-size: 50px;  /* ou o tamanho que quiser */
    cursor: pointer;  /* opcional, para indicar que é clicável */
    color: white;     /* para garantir visibilidade */
    }
}

@media (max-width: 1110px){
    main p{
        width: 400px;
    }
    .main-right img{
        max-width: 450px
    }
}

@media (max-width: 1020px){
    main h1{
        width: 400px;
    }
}

@media (max-width: 860px){
    main{
        grid-template-columns: none;
    }
    .main-right img{
        max-width: 450px
    }

    .main-left {
    order: 2;
    }
    .main-right {
    order: 1;
    }

}


/* rgb(141, 245, 255); */